.Buyer-Section{
    /* margin-bottom: 2.4rem ; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  

    

}
.Buyer-Section .heading{
    text-align:center;
    font-weight: 500;
    color: var( --orange-700);
    font-size: 1.2rem;
    margin-bottom: 2.4rem;

} 
.Buyer-Section h3{
    text-align: center;
    color: var(--green-700);
    font-weight: 600;
   
}
.Buyer-Section form{
    display: flex;
    flex-direction: column;
    /* max-width: 43rem; */
    gap: 2rem;
    padding: 3.2rem 7.2rem;
    justify-content: center;
    transform: translateX;
    border: 1px solid var(--green-700);
    box-sizing: content-box;
    margin-bottom: 4.2rem;
    border-radius: 9px;
    

}
.Buyer-Section form div{
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;


}

@media(max-width:768px){
    .Buyer-Section form div{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
       
    
    
    }
}

.Buyer-Section form div label{
font-size: 1.3rem;

}

.Buyer-Section form div input{
padding: 6px 10px;
border-radius: 7px;
padding-bottom: 9px;
font-size: 1rem;

}
.Buyer-Section form button{
background-color: var(--green-900);
color: white;
padding: 10px ;
margin: 0px 10px;
border-radius: 11px;

} 
.Buyer-Section form button:hover{
    opacity: 0.7;
    cursor: pointer;

}
.Buyer-Section form .declarion-txt{
    display: inline;
    color: var( --green-700);
    font-weight: 600;
    font-size: 1rem;

}
input[type="checkbox"]{
    accent-color: var(--green-900);
    width: 25px;
    height: 25px;
    display: inline-block;
    
    align-self:flex-start ;
    
}
.Buyer-Section form div textarea{
    
    height: 50px;
    text-wrap: wrap;
    border-radius:7px ;
    border: 1.7px solid black;
    resize: vertical;
    overflow-x: auto;
    max-height: 100px;
    min-height: 50px;
    padding: 10px;
}
label[htmlFor="address"]{
    align-self: flex-start;

}
.Agree-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Buyer-Section form div textarea:focus,.Buyer-Section form div input:focus{
    box-shadow: inset 0 -3px 0 var(--green-900);
}
.Buyer-Section form input, .Buyer-Section form textarea{
    border: none !important;
    outline: none;
    border: 1px solid #ccc !important;
}

.Buyer-Section form input:hover, .Buyer-Section form textarea:hover{
    border: 1px solid #a2de64 !important;
    background-color: #a1de6418;
}

 @media (min-width:991.98px ) {
    label[for="mobile"]::after {
        content: "(+91)";
        display: inline;
    }
} 
@media(max-width:767.98px){
    .Buyer-Section form{
        /* margin: 3.2rem; */
        padding: 3.2rem;
    }

}
/* @media(max-width:575.98px){
    .Buyer-Section form{
        margin: 3.2rem;
        width: 50%;
        padding: 2rem;
    } 
}*/